$padding-top: 50px;
$padding-bottom: 20px;
.project--wrapper {
  z-index: 999;
  display: flex;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  justify-content: center;
  box-sizing: border-box;
  .preview--list {
    padding-left: 50px;
    padding-right: 50px;
    max-height: calc(100% - #{$padding-top} - #{$padding-bottom});
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .preview--item {
      margin-bottom: 5px;
      letter-spacing: 12px;
      color: #8D8E8E;
      &.cursor {
        cursor: pointer;
      }
      &.is-checked {
        text-decoration: line-through;
      }
    }
  }
  .preview--wrapper {
    flex-wrap: wrap;
    max-width: 840px;
    max-height: calc(100% - #{$padding-top} - #{$padding-bottom});
    overflow-y: auto;
    .preview-img--item {
      display: inline-block;
      background-color: rgba(165, 165, 165, 0.1);
      margin-right: 10px;
      margin-bottom: 10px;
      width: 200px;
      height: 200px;
      background-size: 150%;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
      &:hover {
        opacity: 0.6;
        filter: blur(0px);
      }
    }
  }
  .dialogue--wrapper {
    position: fixed;
    background: #FFF;
    display: none;
    top: $nav-height;
    bottom: $footer-height;
    align-items: center;
    justify-content: center;
    width: 100vw;
    &.is-show {
      display: flex;
      cursor: url('./cross.png') 4 6, default;
    }
    .dialogue--inner {
      height: 90%;
      width: 80vw;
      display: flex;
      align-items: center;
      .paging-dots--container {
        display: none !important; // to hidden the paging dots
      }
      .slider-list {
        cursor: default !important;
        max-height: 100vh;
        height: 100% !important;
      }
      .paging-dots--container {
        display: none !important; // to hidden the paging dots
      }
      .slider-slide  {
        height: 100% !important;
        display: flex !important;
        user-select: none;
        pointer-events: none;
        align-items: center;
        justify-content: center;
      }
      .slider-slide > img {
        width: auto;
        max-width: 100%;
        height: 100%;
      }
      .slider-control-centerright {
        right: 20px !important;
      }
      .slider-control-centerleft {
        left: 20px !important;
      }
      .slider-control-centerright, .slider-control-centerleft {
        button {
          border-radius: 50%;
          &:hover {
            transform: scale(1.105);
            transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: $mobile-width) {
  .project--wrapper { 
    .preview--list {
      padding-left: 5px;
      padding-right: 5px;
    }
    .preview--wrapper {
      max-width: 70%;
    }
    .dialogue--wrapper {
      .dialogue--inner {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        .slider-slide > img {
          height: auto;
        }
        .slider-control-centerright {
          right: -25px !important;
        }
        .slider-control-centerleft {
          left: -25px !important;
        }
        .slider-control-centerright,.slider-control-centerleft {
          button {
            padding: 3px !important;
          }
        }
      } 
    }
  }
  
}