$nav-height: 60px;
$footer-height: 120px;
$frame-width: 965px;
$font-color-bold: #3e3e3e;
$font-color-normal: #000000;
$font-size-extra-big: 18px;
$font-size-big: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-extra-small: 10px;
$mobile-width: 500px;

@media screen and (max-width: 1170px) {
  $frame-width: 100vw // you need to indent it to (re)set it just within this media-query
}
