.home--wrapper {
    .home-bg-item {
        background: url('./bg.jpeg');
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-size: 100% 100%;
    }
    .prev-button, .next-button {
        background: transparent !important;
        font-size: 35px !important;
    }
    // .next-button {
    //     opacity: 1;
    //     transform: translate(-70px, -25px);
    //     background-color: white;
    // }
    .paging-dots--container {
        display: none !important; // to hidden the paging dots
    }
    .slider-list {
        cursor: default !important;
    }
    .slider-slide  {
        user-select: none;
        pointer-events: none;
    }
}