.home--wrapper {
    .home-bg-item {
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-size: 100% 100%;
    }
    .prev-button, .next-button {
        background: transparent !important;
        font-size: 35px !important;
    }
    // .next-button {
    //     opacity: 1;
    //     transform: translate(-70px, -25px);
    //     background-color: white;
    // }
    .slider-control-centerright, .slider-control-centerleft {
        margin-top: #{-$nav-height};
    }
    .paging-dots--container {
        display: none !important; // to hidden the paging dots
    }
    .slider-list {
        // cursor: default !important;
        max-height: 100vh;
    }
    .slider-slide > img {
        // width: auto;
        // height: 100%;
        max-width: 100%;
    }
    .slider-slide  {
        user-select: none;
        pointer-events: none;
    }
}


@media only screen and (max-width: $mobile-width) {
    .home--wrapper {
        height: calc(100vh - #{$footer-height});
        .slider-control-centerright, .slider-control-centerleft {
            margin-top: 0px;
        }
    }
}