.slider-page--wrapper {
  height: calc(100vh - #{$nav-height} - #{$footer-height});
  position: relative;
  .slider {
    padding: 10px 80px;
    max-height: 100%;
  }
  .slider-list {
    cursor: default !important;
    max-height: 100vh;
    height: 100% !important;
  }
  .paging-dots--container {
    display: none !important; // to hidden the paging dots
  }
  .slider-slide  {
    height: 100% !important;
    display: flex !important;
    user-select: none;
    pointer-events: none;
    align-items: center;
    justify-content: center;
  }
  .slider-slide > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
  .slider-control-centerright {
    right: 20px !important;
  }
  .slider-control-centerleft {
    left: 20px !important;
  }
  .slider-control-centerright, .slider-control-centerleft {
    button {
      border-radius: 50%;
      &:hover {
        transform: scale(1.105);
        transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
      }
    }
  }
}

@media only screen and (max-width: $mobile-width) {
  .slider-page--wrapper {
      .slider {
        padding: 10px 30px;
      }
      .slider-slide > img { 
        height: auto;
      }
      .slider-control-centerright, .slider-control-centerleft {
        button {
          padding: 3px !important;
        }
      }
      .slider-control-centerright {
        right: 5px !important;
      }
      .slider-control-centerleft {
        left: 5px !important;
      }
  }
}