$padding-gap: 10px;
.architecture--wrapper {
  height: calc(100vh - #{$nav-height} - #{$footer-height});
  padding: $padding-gap;
  position: relative;
  .img {
    max-height: calc(100% - #{$padding-gap * 2});
    max-width: calc(100% - #{$padding-gap * 2});
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1.5s ease-in-out 0s;
    &.is-show {
      opacity: 1;
    }
  }
}