
.nav-item--wrapper {
    text-decoration: none;
    .nav-item {
        padding: 7px 30px;
        padding-top: 20px;
        padding-bottom: 0px;
        font-size: 18px;
        font-family: cursive;
        letter-spacing: 5px;
        text-decoration: none;
        color: $font-color-normal;
    }
}