
.header-select--wrapper {
    z-index: 999;
    .nav-title {
        padding: 7px 10px;
        padding-top: 12px;
        font-size: $font-size-normal;
        letter-spacing: 5px;
        text-decoration: none;
        color: $font-color-normal;
        cursor: pointer;
        .icon {
            display: inline-block;
            position: relative;
            top: 3px;
            transform: rotate(90deg);
            font-size: $font-size-normal;
        }
    }
    .nav-subitem--wrapper {
        display: none;
        opacity: 0;
        transition: all 0.2s ease 0s;
        background-color: #FFF;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 20px -2px;
        text-overflow: ellipsis;
        .nav-item {
            padding: 6px 0px;
            opacity: 1;
            transition: opacity 0.2s ease-in-out 0s;
            &:hover {
                opacity: 0.4;
            }
        }
    }
    &:hover {
        .nav-subitem--wrapper {
            display: block;
            opacity: 1;
            
        }
    }
}
