.header--wrapper {
    height: $nav-height;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    padding-right: 20px;
    &.is-home {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 999;
    }
    &:not(.is-home) {
        border-bottom: 1px solid #ededed;
    }
    .logo a{
        text-decoration: none;
        letter-spacing: 6px;
        font-weight: 300;
        font-size: 32px;
        font-style: italic;
        color: $font-color-normal;
        cursor: pointer;
    }
    .nav-list--wrapper {
        display: flex;
    }
}
@media only screen and (max-width: $mobile-width) {
    .header--wrapper {
        padding: 10px 10px;
        .logo a {
            font-size: $font-size-normal;
        }
        .logo {
            max-width: 80px;
        }
    }
}