
.nav-item--wrapper {
    text-decoration: none;
    .nav-item {
        padding: 12px 10px;
        font-size: $font-size-normal;
        letter-spacing: 5px;
        text-decoration: none;
        color: $font-color-normal;
    }
}

@media only screen and (max-width: 375px) {
    .nav-item-wrapper {
        .nav-item {
            padding: 12px 4px;
        }
    }
}