.footer--wrapper {
    height: $footer-height;
    background: black;
    box-sizing: border-box;
    padding-bottom: 5px;
    .copyright {
      color: white;
      font-family: monospace;
      font-size: $font-size-small;
      text-align: center;
    }
    .top {
      padding: 15px 10px;
      padding-bottom: 10px;
      display: flex;
      // margin: 0 auto;
      // align-items: center;
      justify-content: space-around;

      color: white;
      // div {
      //   margin-right: 120px;
      // }
      .contact-me--wrapper, .follow-me--wrapper, .subscribe-me--wrapper {
        .title {
          margin-bottom: 10px;
          font-family: cursive;
        }
        .content {
          font-size: $font-size-small;
          a {
            text-decoration: none;
            color: white;
          }
          .icon-item {
            margin-left: 10px;
            cursor: pointer;
          }
        }
        .subscribe-input {
          padding: 7px 6px;
          margin-right: 12px;
          font-size: $font-size-small;
          border: 1px solid white;
          background: #000;
          color: white;
          &:focus {
            outline: none;
          }
        }
        .subscribe-button {
          font-family: cursive;
          padding: 6px 20px;
          padding-left: 40px;
          text-align: center;
          cursor: pointer;
          background: white;
          letter-spacing: 20px;
          border: none;
          border-radius: 3px;
        }
      }
    }
}