.cityscape--wrapper {
  .slider {
    padding: 10px 80px;
  }
  .slider-list {
    cursor: default !important;
    max-height: 100vh;
    height: 100% !important;
  }
  .paging-dots--container {
    display: none !important; // to hidden the paging dots
  }
  .slider-slide  {
    height: 100% !important;
    display: flex !important;
    user-select: none;
    pointer-events: none;
    align-items: center;
    justify-content: center;
  }
  .slider-slide > img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
  .slider-control-centerright {
    right: 20px !important;
  }
  .slider-control-centerleft {
    left: 20px !important;
  }
  .slider-control-centerright, .slider-control-centerleft {
    button {
      border-radius: 50%;
      &:hover {
        transform: scale(1.105);
        transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
      }
    }
  }

}

@media only screen and (max-width: 375px) {
  .cityscape--wrapper {
      .pics {
        max-height: 55vh;
        top: 50%;
        transform: translateY(-50%);
        .left, .right {
          display: block;
          top: auto;
          left: 50%;
          transform: translateX(-50%);
          height: auto;
          width: 300px;
          opacity: 0;
          transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          &.is-show {
            opacity: 1;
          }
        }
        .right {
          cursor: e-resize;
          right: auto;
          bottom: 10px;
        }
        .left {
          cursor: w-resize;
          top: 10px;
        }
      }
  }
}